body {
    overflow: hidden; /* Hide scrollbars */
}

@font-face {
    font-family: harry;
    src: url(../stylesheet/fonts/harry.TTF);
}

.name{
    display: flex;
    margin-top: 240px;
    font-size: 80px;
    color: black;
    font-family: 'Indie Flower', cursive;
    margin-left: 50px;
    font-weight: bold;
}

.name span{
    font-family: harry;
    font-size: 100px;
    color: black;
    height: 50px;
    width: 50px;
    margin: 60px;
    font-weight: lighter;
}

.name span:hover{
    font-size: 120px;
    transition: 700ms;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.det{
    display: flex;
    font-size: 80px;
    color: black;
    font-family: 'Indie Flower', cursive;
    margin-left: 50px;
    font-weight: bold;
}

.skill{
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin-left: 60px;
    height: 50px;
    width: 80%;
}

.skill p span{
    font-size: 30x;
    font-weight: lighter;
    margin: 10px;
    padding: 10px;
}

.skill p span:hover{
    color: red;
    transition: 700ms;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.skill p{
    font-weight: bold;
    font-size: 35px;
}

.logos{
    margin-top: 40px;
    margin-left: 50px;
}

.logo img{
    height: 40px;
    width: 40px;
    margin-right: 50px;
    border-radius: 500px;
    opacity: 0.6;
}

.logo img:hover{
    transition: 400ms;
    opacity: 1;
}