@font-face {
  font-family: hollow;
  src: url(../stylesheet/fonts/outline.ttf);
}

@font-face {
font-family: comics;
src: url(../stylesheet/fonts/comic.ttf);
}

@font-face {
font-family: comic_fill;
src: url(../stylesheet/fonts/comic_fill.ttf);
}

.nav .sidenav p{
    transition: 600ms;
    color: black;
    margin-top: 90px;
    font-size: 30px;
    font-weight: bold;
}

.sidenav a{
    text-decoration: none;
}


.nav{
    position: fixed;
    right: 5%;
    top: 10%;
}

.sidenav p:hover{
    font-family: 'comic_fill';
    color: red;
    animation:  shake 0.8s  ;
}

.sidenav{
    position: fixed;
    right: 5%;
}

@keyframes shake{
    0%{
      transform: translateX(0);
    }
    25%{
      transform: translateX(25px);
      color: #F1EDE1;
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
}

/* For Mobile */

@media screen and (max-width: 1080px){
  .nav .sidenav p{
    margin: 20px;
    font-size: 30px;
  }
  .sidenav{
    display: flex;
  }
  .nav{
    position: fixed;
    top: 5%;
    left: 40%;
  }
}

@media screen and (min-width:320px){
  .nav .sidenav p{
    margin: 10px;
    font-size: 15px;
  }
}