.nav .sidenav p{
    color: black;
    margin-top: 90px;
    font-size: 60px;
    font-weight: bold;
}

.sidenav a{
    text-decoration: none;
}

@font-face {
    font-family: hollow;
    src: url(../stylesheet/outline.ttf);
}

.nav{
    position: fixed;
    right: 5%;
    top: 0%;
}

.sidenav p:hover{
    font-family: 'Londrina Solid', cursive;
    color: red;
}

.sidenav{
    position: fixed;
    right: 5%;
}
