/* body {
    overflow: scroll; // do it while making responsive (in MedialQuery)
} */

.card img{
    height: 260px;
    width: 300px;
    margin-right: 30px;
    margin-bottom: 30px;

}

.card{
    display: inline;
}

.card-box{
    margin-top: 60px;
    margin-left: 30px;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.shopping-website-card img{
    width: 460px;
    height: 260px;
}

.house-rental-card img{
    width: 400px;
}

.blender-card img{
    width: 380px;
}

